In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
'''
The Titanic dataset, available on Kaggle under the competition “Titanic: Machine Learning from Disaster”, contains information about
passengers who were aboard the RMS Titanic and is widely used for learning and practicing machine learning techniques. The dataset is 
divided mainly into two files: train.csv and test.csv. The train.csv file includes detailed information for 891 passengers along with
a target column called Survived, which indicates whether a passenger survived (1) or did not survive (0) the disaster; this file is 
used to train predictive models. The test.csv file contains similar passenger information for 418 passengers but does not include the
Survived column; it is used to evaluate the model by predicting survival outcomes, which are then submitted to Kaggle for scoring. 
Common features in both files include passenger class, name, sex, age, number of relatives aboard, ticket details, fare, cabin, and port
of embarkation, making the dataset suitable for analyzing factors that influenced survival on the Titanic.
'''

'\nThe Titanic dataset, available on Kaggle under the competition “Titanic: Machine Learning from Disaster”, contains information about\npassengers who were aboard the RMS Titanic and is widely used for learning and practicing machine learning techniques. The dataset is \ndivided mainly into two files: train.csv and test.csv. The train.csv file includes detailed information for 891 passengers along with\na target column called Survived, which indicates whether a passenger survived (1) or did not survive (0) the disaster; this file is \nused to train predictive models. The test.csv file contains similar passenger information for 418 passengers but does not include the\nSurvived column; it is used to evaluate the model by predicting survival outcomes, which are then submitted to Kaggle for scoring. \nCommon features in both files include passenger class, name, sex, age, number of relatives aboard, ticket details, fare, cabin, and port\nof embarkation, making the dataset suitable for analyzing factors that influenced survival on the Titanic.\n'

In [23]:
PATH = './data'

test_df = pd.read_csv(PATH + '/test.csv')
train_df = pd.read_csv(PATH + '/train.csv')

In [24]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [25]:
test_df['Pclass']

0      3
1      3
2      2
3      3
4      3
      ..
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 418, dtype: int64

In [ ]:
test_df = test_df.drop(['Name', 'Sex'], axis=1)

sns.heatmap(test_df)

KeyError: "['Name', 'Sex'] not found in axis"